{
    auto_https off
    admin off
}
https://echooo-gateway:8443 {
    tls /tls/server.crt /tls/server.key
    handle /ws/meeting-bots/* {
        reverse_proxy host.docker.internal:{$ECHOOO_PORT}
    }
    handle {
        respond 404
    }
}
